@model Coupling.Controllers.CreateCarViewModel

@using (Html.BeginForm("Create", "CarBase", FormMethod.Post))
{
    @Html.ValidationSummary()
    <div>
        @Html.LabelFor(m => m.CarDto.Color)
        @Html.TextBoxFor(m => m.CarDto.Color)
        @Html.ValidationMessageFor(m => m.CarDto.Color)
    </div>
    <div>
        @Html.LabelFor(m => m.CarDto.Name)
        @Html.TextBoxFor(m => m.CarDto.Name)
        @Html.ValidationMessageFor(m => m.CarDto.Name)
    </div>
    <div>
        @Html.LabelFor(m => m.CarDto.Price)
        @Html.TextBoxFor(m => m.CarDto.Price)
        @Html.ValidationMessageFor(m => m.CarDto.Price)
    </div>

    <div>
        @Html.LabelFor(m => m.CarDto.SelectedCarType)
        @Html.EnumDropDownListFor(m => m.CarDto.SelectedCarType)
    </div>

    <input type="submit" value="add car" />
}