@model Coupling.Controllers.CreateCarViewModel

@using (Html.BeginForm("CreateCar", "Car", FormMethod.Post))
{
    @Html.ValidationSummary()
    <div>
        @Html.LabelFor(m => m.CarDto.Color)
        @Html.TextBoxFor(m => m.CarDto.Color)
        @Html.ValidationMessageFor(m => m.CarDto.Color)
    </div>
    <div>
        @Html.LabelFor(m => m.CarDto.Name)
        @Html.TextBoxFor(m => m.CarDto.Name)
        @Html.ValidationMessageFor(m => m.CarDto.Name)
    </div>
    <div>
        @Html.LabelFor(m => m.CarDto.Price)
        @Html.TextBoxFor(m => m.CarDto.Price)
        @Html.ValidationMessageFor(m => m.CarDto.Price)
    </div>

    <div>
        @Html.LabelFor(m => m.CarDto.SelectedCarType)
        @Html.DropDownListFor(m => m.CarDto.SelectedCarType, Model.CarTypes.Select(ct => new SelectListItem
        {
            Text = ct.Value,
            Value = ct.Key.ToString()
        }))
    </div>

    <input type="submit" value="add car" />
}