@model Coupling.Controllers.CarDetailsViewModel
<div>
    @Html.HiddenFor(m => m.Id)
    <h1>@Model.Name</h1>
    <div>@Model.Price</div>
    <div>@Model.CarType</div>
    <div>@Model.Color</div>
    @Html.ActionLink("edit", "Edit", "Car", new { carId = Model.Id }, new { @class = "btn btn-default" })
    @Html.ActionLink("delete", "Delete", "Car", new { id = Model.Id }, new { @class = "btn btn-danger" })
</div>