@model Coupling.Controllers.CarsViewModel

@foreach(var car in Model.Cars)
{
    <div>
        <input type="hidden" name="Id" value="@car.Id"/>
        <h2>@car.Name</h2>
        <h4>@car.CarType</h4>
        <div>@car.Color</div>
        <div>@car.Price</div>
        @Html.ActionLink("details", "Details", "Car", new { id = car.Id }, null)
    </div>
}


@Html.ActionLink("crete new car","Create","Car",null,new{@class="btn btn-default"})