@using System.Collections.Generic
@using System.Web.Mvc.Html
@model Coupling.Controllers.Car
@using (Html.BeginForm("UpdateCarData", "Car", FormMethod.Post))
{
    @Html.HiddenFor(m=>m.Id)
    <div>
        @Html.LabelFor(m => m.Color)
        @Html.TextBoxFor(m => m.Color)
    </div>
    <div>
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name)
    </div>
    <div>
        @Html.LabelFor(m => m.Price)
        @Html.TextBoxFor(m => m.Price)
    </div>

    <div>
        @Html.Label("Car type:")
        @Html.DropDownList("newSelectedCarType",
             (ViewData["ctypes"] as Dictionary<int, string>).Select(ct => new SelectListItem
        {
            Text = ct.Value,
            Value = ct.Key.ToString()
        }));
    </div>

    <input type="submit" value="save" />
}